.product-price-container {
    margin-top: 169px;
    margin-left: 98px;
    background-color: transparent;
    max-width: 1265px;
    min-width: max-content;
    height: max-content;
}

.product-wrapper {
    width: calc(100% - 389px);
    background-color: transparent;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.header-table p {
    background-color: transparent;
    padding: 13px 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: black;
}

.summary {
    width: 356px;
    margin-left: 33px;
    position: relative;
    display: inline-block;
    height: 494px;
    min-height: 100px;
    background-color: transparent;
    border: 1px solid white;
}

.header-summary {
    background-color: #30efa6;
    width: 100%;
    height: 50px;
    border: 1px solid white;
    text-align: center;
    padding: 13px 0;
}
.summary-item1,
.summary-item2,
.summary-item3 {
    background-color: transparent;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
.total-price {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    left: 35%;
    color: white;
}

.total-price p {
    margin: 0;
    padding-bottom: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
}
.total-price span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

@media all and (max-width: 944px) {
    .product-price-container {
        margin-left: 0;
    }
}
@media all and (max-width: 845px) {
    .summary {
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 5px;
        height: 400px;
    }
    .product-price-container {
        max-width: 380px;
        margin: 0 auto;
    }
    .product-wrapper {
        width: 100%;
    }
}
