.caffe-order-container {
    max-width: 1245px;
    height: max-content;
    padding-top: 72px;
    background-color: transparent;
    margin-right: 12px;
    margin-left: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
}
.choose-caffe-type {
    height: max-content;
    width: 858px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.macchiato,
.espresso,
.americano,
.add-product {
    width: 258px;
    height: 258px;
    background-color: transparent;
    margin-bottom: 48px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.macchiato:hover,
.espresso:hover,
.americano:hover,
.add-product:hover {
    outline: 1px solid white;
}

.macchiato .macchiato-image div {
    background-color: transparent;
    width: 35%;
    height: 73%;
}
.americano .macchiato-image div {
    background-color: transparent;
    width: 31%;
    height: 65%;
}
.espresso .macchiato-image div {
    background-color: transparent;
    width: 27%;
    height: 55%;
}
.caffe-image {
    width: 100%;
    height: 100%;
}

.macchiato-image {
    width: 100%;
    height: 60%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.macchiato-image img {
    display: block;
    align-items: center;
}

.macchiato-content {
    width: 100%;
    height: 40%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.macchiato-content P {
    padding-top: 15px;
    font-size: 20px;
}

.macchiato-content p:nth-child(2) {
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
}
.add-product {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121d23;
    border: 1px solid #ffffff;
    color: white;
}

.add-product__content {
    width: 75%;
    height: 45%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.add-product__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

@media all and (max-width: 977px) {
    .caffe-order-container {
        padding: 0;
    }
    .choose-caffe-type {
        flex-direction: row;
        width: 160px;
        justify-content: center;
        margin: 0 auto;
    }
    .add-product {
        width: 158px;
        height: 158px;
        margin: 0 auto;
    }

    .macchiato,
    .espresso,
    .americano,
    .add-product {
        width: 158px;
        height: 158px;
        margin-bottom: 5px;
    }
    .macchiato-content P {
        font-size: 16px;
    }
    .macchiato-content p:nth-child(2) {
        font-size: 14px;
    }
}

@media all and (max-width: 710px) {
    .caffe-order-container {
        margin: 0;
    }
}

.bill-container {
    height: 646px;
    min-width: 305px;
    padding-left: 18px;
    padding-right: 20px;
    margin: 0;
    margin-left: 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.list-order-bill {
    width: 100%;
    height: 49.1%;
    background-color: transparent;
}

.list-order-bill__name {
    height: 52px;
}
.list-order-bill__name p {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.list-order-bill__americano,
.list-order-bill__espresso,
.list-order-bill__macchiato {
    height: 86px;
    background-color: transparent;
    display: flex;
}
.americano-name {
    background-color: transparent;
    width: 100%;
}
.americano-name p {
    margin: 0;
    font-size: 16px;
}
.americano-name p:nth-child(2) {
    padding-left: 16px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
}
.americano-price {
    width: 88px;
    background-color: transparent;
}
.americano-price span {
    font-size: 16px;
    display: inline-block;
    border: 1px solid #84fea3;
    width: 34px;
    height: 24px;
    text-align: center;
    padding-top: 2px;
}

.americano-price img {
    vertical-align: bottom;
    margin-left: 9px;
}

.bill-price {
    width: 100%;
    height: 47.8%;
    border-top: 1px solid white;
}
.bill-price p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    padding: 13px 0 9px 0;
}

.bill-price-cash {
    width: 144px;
    height: 73px;
    background-color: transparent;
    border: 1px solid #fff;
}
.bill-price-change {
    height: 121px;
    background-color: transparent;
}
.bill-price-change div {
    display: flex;
    justify-content: space-between;
}
.bill-price-change div p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding: 0;
    margin-top: 20px;
}
.bill-price-change div span {
    margin-top: 20px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

/* .submit-btn {
    width: 100%;
    height: 46px;
    border: 1px solid #fff;
} */

.submit-btn a {
    width: 100%;
    height: 46px;
    border: 1px solid #fff;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    padding-top: 10px;
}
.submit-btn a:hover {
    outline: 1px solid white !important;
}

.bill-price-cash input {
    width: 70%;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 49px;
    color: #ffffff;
    opacity: 0.2;
    margin-top: 7px;
    background-color: transparent;
}

.bill-price-cash input::-webkit-inner-spin-button,
.bill-price-cash input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bill-price-cash span {
    padding-top: 15px;
    vertical-align: sub;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
}

@media all and (max-width: 495px) {
    .caffe-order-container {
        flex-direction: column;
    }
    .choose-caffe-type {
        height: max-content;
        width: 300px;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .add-product {
        margin: 0;
    }
    .macchiato,
    .espresso,
    .americano,
    .add-product {
        width: 148px;
        height: 148px;
        margin-bottom: 5px;
    }
    .bill-container {
        margin: 0;
        padding: 0;
        min-width: 298px;
        height: 300px;
    }
    .americano-name {
        margin: 0;
        height: max-content;
    }
    .list-order-bill__americano {
        height: max-content;
    }
    .list-order-bill__name {
        height: max-content;
    }
}
/* Modal customize */
.ReactModal__Content {
    width: 431px;
    height: 193px;
    margin: 353px auto;
    background-color: #121d23 !important;
    border: 1px solid #ffffff;
    border-radius: 0 !important;
    padding: 0 !important;
}
.ReactModal__Content p {
    margin: 17px 0 0 21px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.modal-button button {
    width: 182px;
    height: 46px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.modal-button button:focus {
    outline: none;
}
.modal-button a {
    width: 182px;
    height: 46px;
    border: 1px solid white;
    border-radius: 0;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 8px;
}
.modal-button {
    display: flex;
    justify-content: space-between;
    margin: 74px 26px 24px 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.modal-button button:hover {
    outline: 1px solid white;
}
.modal-button a:hover {
    outline: 1px solid white;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.9) !important;
    width: 96%;
    margin: 0 auto;
}
