.product {
    max-width: 876px;
    min-width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.product p {
    padding: 13px 0;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #fff;
}
.name,
.product-name,
.product-cash,
.product-change {
    width: 80px;
    min-width: 50px;
    min-height: 50px;

    background-color: transparent;
    border: 1px solid white;
    background-color: transparent;
}

.name {
    flex-grow: 3;
}
.product-name {
    flex-grow: 7.2;
}
