.order-category {
    max-width: 558px;
    height: 344px;
    margin-right: auto;
    background-color: transparent;
    margin-top: 172px;
    margin-left: 95px;
    margin-right: 95px;
}

.order-name,
.order-time {
    display: block;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 5px;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.order-name {
    margin-bottom: 36px;
}

.order-time {
    margin-bottom: 32px;
}

.order-name:focus,
.order-time:focus {
    outline: none;
}

.article-orders-content__title p {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.4;
}

.article-orders-content {
    width: 100%;
    height: 176px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.article-caffe,
.article-market,
.article-break {
    width: 167px;
    height: 176px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
}
.article-break__content,
.article-market__content,
.article-caffe__content {
    width: 45%;
    height: 45%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.article-break__content p,
.article-market__content p,
.article-caffe__content p {
    margin: 0;
}

.next-page {
    max-width: 1338px;
    background-color: transparent;
}
.next-page__btn {
    width: 290px;
    height: 46px;
    background-color: transparent;
    margin-left: auto;
    margin-top: 143px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid white;
}
.next-page__btn:hover {
    outline: 1px solid white;
    cursor: pointer;
}
.next-page__btn a {
    background-color: transparent;
    margin-left: auto;
    margin-top: 143px;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 104px;
}

@media all and (max-width: 710px) {
    .article-orders-content {
        width: max-content;
        margin-right: auto;
        margin-left: 5%;
        flex-direction: column;
        height: max-content;
    }
    .order-category {
        margin: 0;
        margin-top: 60px;
    }
    .header-logo,
    .user-logo {
        margin-right: 0;
        margin-left: 0;
    }
    .article-caffe,
    .article-market,
    .article-break {
        width: 100px;
        height: 105px;
    }
}
